# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git\r2-tutorials\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
